<h1><%= "Estimado #{@subunit.renter.first_name}" %></h1>
<p>Te envíamos el siguiente para recordarte que tu contrato de arriendo está a 5 días de vencer.</p>
<p>Te recomendamos ponerte en contacto con nosotros al correo contacto@valprop.com para coordinar la renovación.</p>
<h3>Si ya renovaste tu contrato de arriendo, rogamos no considerar este correo.</h3>
