<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @outcome_category.name %>
</p>

<%= link_to 'Edit', edit_outcome_category_path(@outcome_category) %> |
<%= link_to 'Back', outcome_categories_path %>
