<%= render("transversals/navbar_admin") %>
<div class="container">
  <h1 class="text-center"><%= @property.address %></h1>
  <h3>Propietario: <%= @property.owner.first_name %></h3>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <%= link_to "Crear subunidad", nil, class: "btn btn-default" %>
    </div>
  </div>
</div>
