<%= render("transversals/navbar_admin") %>
<div class="container">
  <h1 class="text-center"><%= @property.address %></h1>
  <h3 class="text-center">Propietario: <%= @property.owner.owner_name_lastname %></h3>
  <div class="row">
    <div class="text-center">
      <%= link_to "Crear subunidad", nil, class: "btn btn-default" %>
    </div>
  </div>
</div>
