<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bank_account_type.name %>
</p>

<%= link_to 'Edit', edit_bank_account_type_path(@bank_account_type) %> |
<%= link_to 'Back', bank_account_types_path %>
