<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola <%= @renter.first_name %></h1>
    <p>
      Te enviamos el presente para avisarte que se ha creado el cobro de gastos comunes de tu propiedad.
    </p>
    <p>
      Recuerda depositar en la cuenta Nº <%= @property.bank_account_number %> del <%= @property.bank.name %>
    </p>
  </body>
</html>
