<div class="container-fluid" id="actions-dashboard">
  <div class="col-lg-4 col-sm-4 text-center">
    <%= link_to new_property_type_path do %>
      <i class="fa fa-plus fa-3x" id="fa-green"></i>
      <h3 class="text-center">Crear Propiedad</h3>
    <% end %>
  </div>
  <div class="col-lg-4 col-sm-4 text-center">
    <%= link_to new_renter_registration_path do %>
      <i class="fa fa-user fa-3x" id="fa-blue"></i>
      <h3 class="text-center">Crear Arrendatario</h3>
    <% end %>
  </div>
  <div class="col-lg-4 col-sm-4 text-center">
    <%= link_to new_property_type_path do %>
      <i class="fa fa-building-o fa-3x" id="fa-pink"></i>
      <h3 class="text-center">Crear Tipo de Propiedad</h3>
    <% end %>
  </div>
</div>
