<div class="sub-nav"></div>
<div class="container">
  <h1 class="text-center">Ingrese identificador de cobro</h1>
  <h3 class="text-center" id="info_rent"></h3>
  <%= form_for(:subunit_rent_identifier, :url => {:action => 'search_id_for_rent_charge'}, method: :post, remote: true)  do |f| %>
    <div class="form-div col-md-6 col-md-offset-3">
      <%= f.label :identifier, "IDENTIFICADOR", class: "input-header" %><br>
      <%= f.text_field :identifier, class: "form-control" %>
    </div>
    <div class="form-div col-md-6 col-md-offset-3">
      <%= f.submit "BUSCAR", class: "btn btn-default btn-block action-button aquamarine-button" %>
    </div>
  <% end %>
</div>
