// Place all the styles related to the Properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.square-divided-four {
  height: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
