@import url( 'https://fonts.googleapis.com/css?family=Raleway');
@import 'https://fonts.googleapis.com/css?family=Oxygen';
@import 'https://fonts.googleapis.com/css?family=Squada+One';
$main-font: "Raleway";
$second-font: "Oxygen";
$bg: #F4F5F6;
$bg-contrast: white;
$nav: #515072;
$green: #4FC71A;
$brussian: #24242B;
$blue: #3354EC;
$aquamarine: #71FFE1;
$golden: #FFDB74;
$faded: #847DF3;
$crimson: #FF6F97;
$sail: #B3E4FF;
$msg: #08FFAE;
$hawkes: #CDDBFF;
$chet: #7073AB;
$borders: #F3F3F4;
$malibu: #74B7FC;
$submarine: #C0C5CA;
$regent: #87919B;
$liliac: #E7E7E7;

.sub-nav {
    margin-bottom:5px;
}

.container-squares {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.info-square {
    padding: 10px !important;
    height: 50vh;
}

.holder-extern {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: $bg-contrast;
}

.holder-extern-no-verticality {
    height: 100%;
    width: 100%;
    background-color: $bg-contrast;
}

.payed-rent {
  color: $msg !important;
}

.not-payed-rent {
  color: $crimson !important;
}
