// Place all the styles related to the subunits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'https://fonts.googleapis.com/css?family=Biryani';
@import 'https://fonts.googleapis.com/css?family=Oxygen';
@import 'https://fonts.googleapis.com/css?family=Squada+One';
$main-font: "Biryani";
$second-font: "Oxygen";
$bg: #1D1F2E;
$bg-contrast: #282840;
$nav: #6A93FF;
$green: #4FC71A;
$brussian: #24242B;
$blue: #3354EC;

.sub-nav {
    margin-bottom: 20px;
}

.container-squares {}

.info-square {
    padding: 5px !important;
    height: 400px;
}

.holder-extern {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: $bg-contrast;
}

.holder-extern-no-verticality {
    height: 100%;
    width: 100%;
    background-color: $bg-contrast;
}
