@import 'https://fonts.googleapis.com/css?family=ABeeZee';
@import 'https://fonts.googleapis.com/css?family=Arvo';
$main-font: "ABeeZee";
$second-font: "Arvo";
$bg: #F4F5F6;
$bg-contrast: white;
$nav: white;
$green: #4FC71A;
$brussian: #24242B;
$blue: #3354EC;
$aquamarine: #71FFE1;
$golden: #FFDB74;
$faded: #847DF3;
$crimson: #FF6F97;
$sail: #B3E4FF;
$msg: #08FFAE;
$hawkes: #CDDBFF;
$chet: #7073AB;
$borders: #F3F3F4;
$malibu: #74B7FC;
$submarine: #C0C5CA;
$regent: #87919B;
$liliac: #E7E7E7;

html {
    background-color: $bg !important;
}

body {
    background-color: $bg !important;
    padding-top: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $main-font !important;
    color: $malibu !important;
}

.list-item {
    font-family: $main-font !important;
    font-size: 1.8em !important;
    line-height: 2em;
}

.li-title {
    font-family: $main-font;
    color: $malibu;
}

.header-nav {
    color: $brussian !important;
    font-family: $second-font !important;
}

.alert-header {
    color: $crimson !important;
    font-family: $second-font !important;
}

.icon-bar {
    background-color: $malibu !important;
}

p {
    font-family: $second-font !important;
    font-size: 1.2em !important;
    line-height: 1.6em;
}

a {
    color: $regent !important;
}

a:hover {
    background-color: transparent !important;
}

li.dropdown-toggle {
    font-family: $second-font !important;
}

select {
  height: 45px !important;
  padding: 2px 0 2px 10px !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-color: $submarine !important;
  border-width: 2px !important;
  background-color: $bg-contrast !important;
  color: $brussian !important;
  font-family: $second-font !important;
  font-size: 1.4em !important;
}

.crimson-color {
    color: $crimson !important;
}

.separator {
    height: 20px;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fifty-percent-height {
    height: 50% !important;
}

.navbar-default {
    background-color: $nav !important;
    border-bottom-color: $submarine !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent !important;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent !important;
}

.li-navbar {
    font-family: $main-font !important;
    font-size: 1.2em;
}

.brand-huge {
    font-family: $main-font !important;
    font-size: 6em;
}

.navbar-brand {
    color: $malibu !important;
    font-family: $main-font !important;
    font-size: 1.6em !important;
}

.dropdown-toggle {
    font-family: $main-font !important;
    font-size: 1.4em;
}

.dropdown-menu {
    background-color: $nav !important;
}

.input-header {
    font-family: $main-font;
    font-size: 1.4em;
    font-weight: 200;
    color: $regent;
    text-transform: uppercase;
}

.header-view {
    height: auto !important;
}

#rent_period_holder {
    padding: 20px 0 !important;
}

.form-control {
    height: 45px !important;
    padding: 2px 0 2px 10px !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-color: $submarine !important;
    border-width: 2px !important;
    background-color: $bg-contrast !important;
    color: $brussian !important;
    font-family: $second-font !important;
    font-size: 1.4em !important;
}

.form-control:focus {
    border-color: $malibu !important;
}

input[type="number"]:disabled,
input[type="text"]:disabled {
    background: $submarine !important;
}

input[type="number"]:enabled,
input[type="text"]:enabled {
    background-color: white;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.div-for-input {
    margin: 10px 0;
}

.container-login {
    margin-top: 10%;
}

.action-button {
    margin-top: 10px;
    border-radius: 0 !important;
    background-color: transparent !important;
    border-width: 1px !important;
    font-family: $main-font !important;
    letter-spacing: 2px;
    padding-top: 10px !important;
}

.money {
    fill: $aquamarine !important;
}

.outcome {
    fill: $faded !important;
}

.paper-sheet {
    fill: $crimson !important;
}

.house {
    fill: $golden !important;
}

.chart {
    fill: $malibu !important;
}

.water {
    fill: #4580DE !important;
}

.gas {
    fill: #FD9596 !important;
}

.others {
    fill: #161743 !important;
}

.category-header {
    color: $submarine !important;
}

.btn-go {
    font-family: $main-font;
    font-size: 1.4em !important;
    color: white !important;
    background-color: $green !important;
    border-color: $green !important;
}

.btn-option {
    font-family: $main-font;
    font-size: 1.4em !important;
    color: white !important;
    background-color: $blue !important;
    border-color: $blue !important;
}

.btn-option:hover {
    color: white !important;
    background-color: $blue !important;
    border-color: $blue !important;
}

.aquamarine-button,
.aquamarine-button:hover {
    color: white !important;
    border-color: $aquamarine !important;
    background-color: $aquamarine !important;
}

.golden-button,
.golden-button:hover {
    color: white !important;
    border-color: $golden !important;
    background-color: $golden !important;
}

.faded-button,
.faded-button:hover {
    color: white !important;
    border-color: $faded !important;
    background-color: $faded !important;
}

.sail-button,
.sail-button:hover {
    color: white !important;
    border-color: $sail !important;
    background-color: $sail !important;
}

.crimson-button,
.crimson-button:hover {
    color: white !important;
    border-color: $crimson !important;
    background-color: $crimson !important;
}

.chet-button,
.chet-button:hover {
    color: white !important;
    border-color: $chet !important;
    background-color: $chet !important;
}

.msg-button,
.msg-button:hover {
    color: white !important;
    border-color: $msg !important;
    background-color: $msg !important;
}

.form-div {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

#holder-properties-list {
    padding: 0 !important;
}

.li-list-properties {
    font-size: 1.4em;
    line-height: 2em;
}

.holder-centered {}

.btn-edit-subunit,
.btn-edit-subunit:hover {
    background-color: #00D0E3 !important;
    border-color: #00D0E3 !important;
    font-family: $second-font;
    font-size: 1.4em !important;
}

.properties-detail {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.holder-categories,
.table-div {
    overflow: auto;
}

.holder-categories::-webkit-scrollbar,
.table-div::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.table-header {
    color: $submarine;
    font-family: $main-font;
    font-size: 1.2em;
    text-transform: uppercase;
}

.table-data {
    color: $regent;
    font-family: $second-font;
    font-size: 1.2em;
}

.alert-data {
    color: $crimson !important;
}

.green-color {
    color: $msg !important;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    border-top-color: transparent !important;
}

.table > thead > tr > th {
    background-color: $nav;
    border-bottom-color: $nav !important;
}

.navbar-default .navbar-nav > .open > a {
    background-color: $nav !important;
}

.table > tbody > tr > td {}

.row-list {
    border-top-color: #B8B9C8 !important;
}

.half-square {
    height: 50%;
}

.map-square {
    height: 20px !important;
    width: 20px !important;
}
// CHARTS

.chart-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96%;
    width: 96%;
}
// PDF

#pdf_header {
    height: 120px !important;
}

#pdf_body {
    height: 360px !important;
}

.header-info-pdf {
    color: $brussian !important;
}

#money-figure {
    color: $brussian !important;
    font-family: $second-font !important;
}

#notice-this {
    color: $crimson !important;
    text-transform: uppercase;
    font-family: $second-font !important;
}

.info-pdf {
    font-family: $second-font !important;
    color: $submarine !important;
}

.payment-methods {
    font-family: $second-font !important;
    font-size: 1.4em;
}

.table-header-pdf {
    color: $malibu;
    font-family: $main-font;
    font-size: 1.2em;
    text-transform: uppercase;
}

.table-data-pdf {
    color: $brussian;
    font-family: $second-font;
    font-size: 1.2em;
}

.total-pdf {
    color: $malibu;
    font-family: $second-font;
    font-size: 1.4em;
}
@media screen and (max-width: 767px) {
    .table-responsive {
        border: transparent !important;
    }
}
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .info-square {
        padding: 6px !important;
        height: 60vh;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .info-square {
        padding: 6px !important;
        height: 40vh;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .info-square {
        padding: 6px !important;
        height: 60vh;
    }

    #map-holder {
        height: 20vh;
    }
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    .info-square {
        padding: 6px !important;
        height: 70vh;
    }
}
