@import 'https://fonts.googleapis.com/css?family=Roboto+Slab';
@import 'https://fonts.googleapis.com/css?family=Oxygen';
@import 'https://fonts.googleapis.com/css?family=Squada+One';

$main-font: "Roboto Slab";
$second-font: "Oxygen";
$bg: #F2F6FA;

$green: #4FC71A;
$brussian: #24242B;
$blue: #3354EC;
html {
  background-color: $bg !important;
}
body {
  background-color: $bg !important;
  padding-top: 50px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main-font !important;
}
a {
  color: $brussian !important;
}
a:hover {
  background-color: transparent !important;
}
.brand-huge {
  font-family: "Squada One" !important;
  font-size: 6em;
}
.navbar-brand {
  font-family: "Squada One" !important;
  font-size: 2em !important;
}
.dropdown-toggle {
  font-family: $second-font !important;
  font-size: 1.4em;
}
.input-header {
  font-family: $second-font;
  font-size: 1.4em;
  font-weight: 200;
}
.container-login {
  margin-top: 10%;
}
.btn-go {
  font-family: $main-font;
  font-size: 1.4em !important;
  color: white !important;
  background-color: $green !important;
  border-color: $green !important;
}
.btn-option {
  font-family: $main-font;
  font-size: 1.4em !important;
  color: white !important;
  background-color: $blue !important;
  border-color: $blue !important;
}
.btn-option:hover {
  color: white !important;
  background-color: $blue !important;
  border-color: $blue !important;
}
.form-div {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
