@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Oxygen';
@import 'https://fonts.googleapis.com/css?family=Squada+One';
$main-font: "Open Sans";
$second-font: "Oxygen";
$bg: #1D1F2E;
$bg-contrast: #282840;
$nav: #6A93FF;
$green: #4FC71A;
$brussian: #24242B;
$blue: #3354EC;
$aquamarine: #71FFE1;
$golden: #FFDB74;
$faded: #847DF3;
$crimson: #FF6F97;
$sail: #B3E4FF;
$msg: #08FFAE;
$hawkes: #CDDBFF;

html {
    background-color: $bg !important;
}

body {
    background-color: $bg !important;
    padding-top: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $main-font !important;
    color: #F76A9E !important;
}

.header-nav {
    color: $nav !important;
}

p {
    font-family: $second-font !important;
    font-size: 1.2em !important;
    line-height: 1.6em;
}

a {
    color: #E7E9EB !important;
}

a:hover {
    background-color: transparent !important;
}

.separator {
    height: 20px;
}

.navbar-default {
    background-color: $nav !important;
    border-color: $nav !important;
}

.brand-huge {
    font-family: $main-font !important;
    font-size: 6em;
}

.navbar-brand {
    font-family: $main-font !important;
    font-size: 1.4em !important;
}

.dropdown-toggle {
    font-family: $second-font !important;
    font-size: 1.4em;
}

.input-header {
    font-family: $main-font;
    font-size: 1.4em;
    font-weight: 200;
    color: $nav;
    text-transform: uppercase;
}

.form-control {
    height: 40px !important;
    border-radius: 0 !important;
    border-color: $faded !important;
    border-width: 2px !important;
    background-color: $bg-contrast !important;
    color: $hawkes !important;
    font-family: $second-font !important;
    font-size: 1.4em !important;
}

.form-control:focus {
    border-color: $golden !important;
}

.div-for-input {
    margin: 10px 0;
}

.container-login {
    margin-top: 10%;
}

.action-button {
    margin-top: 10px;
    border-radius: 0 !important;
    background-color: transparent !important;
    border-width: 1px !important;
    font-family: $main-font !important;
    letter-spacing: 2px;
    padding-top: 10px !important;
}

.money {
    fill: $aquamarine !important;
}

.outcome {
    fill: $faded !important;
}

.paper-sheet {
    fill: $crimson !important;
}

.house {
    fill: $golden !important;
}

.btn-go {
    font-family: $main-font;
    font-size: 1.4em !important;
    color: white !important;
    background-color: $green !important;
    border-color: $green !important;
}

.btn-option {
    font-family: $main-font;
    font-size: 1.4em !important;
    color: white !important;
    background-color: $blue !important;
    border-color: $blue !important;
}

.btn-option:hover {
    color: white !important;
    background-color: $blue !important;
    border-color: $blue !important;
}

.aquamarine-button {
    color: $aquamarine !important;
    border-color: $aquamarine !important;
}

.golden-button {
    color: $golden !important;
    border-color: $golden !important;
}

.faded-button {
    color: $faded !important;
    border-color: $faded !important;
}

.sail-button {
    color: $sail !important;
    border-color: $sail !important;
}

.crimson-button {
    color: $crimson !important;
    border-color: $crimson !important;
}

.msg-button {
    color: $msg !important;
    border-color: $msg !important;
}

.form-div {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

#holder-properties-list {
    padding: 0 !important;
}

.li-list-properties {
    font-size: 1.4em;
    line-height: 2em;
}

.holder-centered {}

.btn-edit-subunit,
.btn-edit-subunit:hover {
    background-color: #00D0E3 !important;
    border-color: #00D0E3 !important;
    font-family: $second-font;
    font-size: 1.4em !important;
}

.properties-detail {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-header {
    color: $nav;
    font-family: $main-font;
}

.table-data {
    color: #DCDEEB;
    font-family: $second-font;
    font-size: 1.2em;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    border-top-color: transparent !important;
}

.table > thead > tr > th {
    background-color: #31334E;
    border-bottom-color: #31334E !important;
}

.table > tbody > tr > td {}

.row-list {
    border-top-color: #B8B9C8 !important;
}


@media screen and (max-width: 767px) {
  .table-responsive {
    border: transparent !important;
  }
}
