@import 'https://fonts.googleapis.com/css?family=Biryani';
@import 'https://fonts.googleapis.com/css?family=Oxygen';
@import 'https://fonts.googleapis.com/css?family=Squada+One';

$main-font: "Biryani";
$second-font: "Oxygen";
$bg: #4248B9;
$nav: #2E3D51;

$green: #4FC71A;
$brussian: #24242B;
$blue: #3354EC;
html {
  background-color: $bg !important;
}
body {
  background-color: $bg !important;
  padding-top: 50px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main-font !important;
}
.light-subheader {
  font-weight: 200 !important;
}
p {
  font-family: $second-font !important;
  font-size: 1.2em !important;
  line-height: 1.6em;
}
a {
  color: #E7E9EB !important;
}
a:hover {
  background-color: transparent !important;
}
.navbar-default {
  background-color: $nav !important;
  border-color: $nav !important;
}
.brand-huge {
  font-family: $main-font !important;
  font-size: 6em;
}
.navbar-brand {
  font-family: $main-font !important;
  font-size: 2em !important;
}
.dropdown-toggle {
  font-family: $second-font !important;
  font-size: 1.4em;
}
.input-header {
  font-family: $second-font;
  font-size: 1.4em;
  font-weight: 200;
}
.div-for-input {
    margin: 10px 0;
}
.container-login {
  margin-top: 10%;
}
.action-button {
  margin: 10px;
  border-radius: 200px !important;
}
.btn-go {
  font-family: $main-font;
  font-size: 1.4em !important;
  color: white !important;
  background-color: $green !important;
  border-color: $green !important;
}
.btn-option {
  font-family: $main-font;
  font-size: 1.4em !important;
  color: white !important;
  background-color: $blue !important;
  border-color: $blue !important;
}
.btn-option:hover {
  color: white !important;
  background-color: $blue !important;
  border-color: $blue !important;
}
.form-div {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.li-list-properties {
  font-size: 1.4em;
  line-height: 2em;
}
.square-div {
  height: 200px;
  background-color: white;
  margin: 3px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.holder-centered {
}
.btn-edit-subunit, .btn-edit-subunit:hover {
  background-color: #00D0E3 !important;
  border-color: #00D0E3 !important;
  font-family: $second-font;
  font-size: 1.4em !important;
}
