@import 'https://fonts.googleapis.com/css?family=Roboto+Slab';
@import 'https://fonts.googleapis.com/css?family=Oxygen';

$main-font: "Roboto Slab";
$second-font: "Oxygen";

$green: #4FC71A;
$brussian: #24242B;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $main-font !important;
}
a {
  color: $brussian !important;
}
a:hover {
  background-color: transparent !important;
}
.input-header {
  font-family: $second-font;
  font-size: 1.4em;
  font-weight: 200;
}

.btn-go {
  font-family: $main-font;
  font-size: 1.4em !important;
  color: white !important;
  background-color: $green !important;
  border-color: $green !important;
}
.form-div {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
