<!DOCTYPE html>
<html>
<head>
  <title>propgenius</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyBYOqjMH6tI6z7XudBKSm4Ue-zTqo8XVrY"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>

<%= yield %>

</body>
</html>
