<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'/>
        <%= javascript_include_tag "https://code.jquery.com/jquery-3.1.1.min.js" %>
        <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %>
        <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" %>
        <style media="screen">
            @import url("https://fonts.googleapis.com/css?family=Raleway");
            @import "https://fonts.googleapis.com/css?family=Oxygen";
            @import "https://fonts.googleapis.com/css?family=Squada+One";
            html {
                background-color: #F4F5F6 !important;
            }

            body {
                background-color: #F4F5F6 !important;
                padding-top: 50px;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: "Raleway" !important;
                color: #74B7FC !important;
            }

            .header-nav {
                color: #24242B !important;
            }

            .alert-header {
                color: #FF6F97 !important;
            }

            .icon-bar {
                background-color: #74B7FC !important;
            }

            p {
                font-family: "Oxygen" !important;
                font-size: 1.2em !important;
                line-height: 1.6em;
            }

            a {
                color: #87919B !important;
            }
            a:hover {
                background-color: transparent !important;
            }

            li.dropdown-toggle {
                font-family: "Oxygen" !important;
            }

            select {
                border-radius: 0 !important;
            }

            .separator {
                height: 20px;
            }

            .center-content {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .navbar-default {
                background-color: white !important;
                border-bottom-color: #C0C5CA !important;
            }

            .navbar-default .navbar-toggle {
                border-color: transparent !important;
            }
            .navbar-default .navbar-toggle:focus,
            .navbar-default .navbar-toggle:hover {
                background-color: transparent !important;
            }

            .li-navbar {
                font-family: "Raleway" !important;
                font-size: 1.2em;
            }

            .brand-huge {
                font-family: "Raleway" !important;
                font-size: 6em;
            }

            .navbar-brand {
                color: #74B7FC !important;
                font-family: "Raleway" !important;
                font-size: 1.6em !important;
            }

            .dropdown-toggle {
                font-family: "Raleway" !important;
                font-size: 1.4em;
            }

            .dropdown-menu {
                background-color: white !important;
            }

            .input-header {
                font-family: "Raleway";
                font-size: 1.4em;
                font-weight: 200;
                color: #87919B;
                text-transform: uppercase;
            }

            .header-view {
                height: auto !important;
            }

            #rent_period_holder {
                padding: 20px 0 !important;
            }

            .form-control {
                height: 40px !important;
                border-radius: 0 !important;
                -webkit-border-radius: 0 !important;
                border-color: #C0C5CA !important;
                border-width: 2px !important;
                background-color: white !important;
                color: #24242B !important;
                font-family: "Oxygen" !important;
                font-size: 1.4em !important;
            }
            .form-control:focus {
                border-color: #74B7FC !important;
            }

            .div-for-input {
                margin: 10px 0;
            }

            .container-login {
                margin-top: 10%;
            }

            .action-button {
                margin-top: 10px;
                border-radius: 0 !important;
                background-color: transparent !important;
                border-width: 1px !important;
                font-family: "Raleway" !important;
                letter-spacing: 2px;
                padding-top: 10px !important;
            }

            .money {
                fill: #71FFE1 !important;
            }

            .outcome {
                fill: #847DF3 !important;
            }

            .paper-sheet {
                fill: #FF6F97 !important;
            }

            .house {
                fill: #FFDB74 !important;
            }

            .chart {
                fill: #74B7FC !important;
            }

            .water {
                fill: #4580DE !important;
            }

            .gas {
                fill: #FD9596 !important;
            }

            .others {
                fill: #161743 !important;
            }

            .category-header {
                color: #C0C5CA !important;
            }

            .btn-go {
                font-family: "Raleway";
                font-size: 1.4em !important;
                color: white !important;
                background-color: #4FC71A !important;
                border-color: #4FC71A !important;
            }

            .btn-option {
                font-family: "Raleway";
                font-size: 1.4em !important;
                color: white !important;
                background-color: #3354EC !important;
                border-color: #3354EC !important;
            }
            .btn-option:hover {
                color: white !important;
                background-color: #3354EC !important;
                border-color: #3354EC !important;
            }
            .aquamarine-button,
            .aquamarine-button:hover {
                color: white !important;
                border-color: #71FFE1 !important;
                background-color: #71FFE1 !important;
            }
            .golden-button,
            .golden-button:hover {
                color: white !important;
                border-color: #FFDB74 !important;
                background-color: #FFDB74 !important;
            }
            .faded-button,
            .faded-button:hover {
                color: white !important;
                border-color: #847DF3 !important;
                background-color: #847DF3 !important;
            }
            .sail-button,
            .sail-button:hover {
                color: white !important;
                border-color: #B3E4FF !important;
                background-color: #B3E4FF !important;
            }
            .crimson-button,
            .crimson-button:hover {
                color: white !important;
                border-color: #FF6F97 !important;
                background-color: #FF6F97 !important;
            }
            .chet-button,
            .chet-button:hover {
                color: white !important;
                border-color: #7073AB !important;
                background-color: #7073AB !important;
            }
            .msg-button,
            .msg-button:hover {
                color: white !important;
                border-color: #08FFAE !important;
                background-color: #08FFAE !important;
            }

            .form-div {
                margin-top: 10px !important;
                margin-bottom: 10px !important;
            }

            #holder-properties-list {
                padding: 0 !important;
            }

            .li-list-properties {
                font-size: 1.4em;
                line-height: 2em;
            }
            .btn-edit-subunit,
            .btn-edit-subunit:hover {
                background-color: #00D0E3 !important;
                border-color: #00D0E3 !important;
                font-family: "Oxygen";
                font-size: 1.4em !important;
            }

            .properties-detail {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .holder-categories,
            .table-div {
                overflow: auto;
            }

            .holder-categories::-webkit-scrollbar,
            .table-div::-webkit-scrollbar {
                width: 12px;
            }

            .table-header {
                color: #C0C5CA;
                font-family: "Raleway";
                text-transform: uppercase;
            }

            .table-data {
                color: #87919B;
                font-family: "Oxygen";
                font-size: 1.2em;
            }

            .table > tbody > tr > td,
            .table > tbody > tr > th,
            .table > tfoot > tr > td,
            .table > tfoot > tr > th,
            .table > thead > tr > td,
            .table > thead > tr > th {
                border-top-color: transparent !important;
            }

            .table > thead > tr > th {
                background-color: white;
                border-bottom-color: white !important;
            }

            .navbar-default .navbar-nav > .open > a {
                background-color: white !important;
            }

            .row-list {
                border-top-color: #B8B9C8 !important;
            }

            .half-square {
                height: 50%;
            }

            .map-square {
                height: 20px !important;
                width: 20px !important;
            }

            .chart-holder {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 96%;
                width: 96%;
            }

            #pdf_header {
                height: auto !important;
            }

            #pdf_body {
                height: 200 !important;
            }

            .header-info-pdf {
                color: #847DF3 !important;
            }

            #money-figure {
                color: #24242B !important;
                font-family: "Oxygen" !important;
            }

            #notice-this {
                color: #FF6F97 !important;
                text-transform: uppercase;
                font-family: "Oxygen" !important;
            }

            .info-pdf {
                font-family: "Oxygen" !important;
                color: #C0C5CA !important;
            }

            .payment-methods {
                font-family: "Oxygen" !important;
                font-size: 1.4em;
            }
        </style>
    </head>
    <body>
        <%= yield %>
    </body>
</html>
